<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ge.tbc.itacademy.mappers.BookingCaseMapper">

    <select id="getAllBookingCases" resultType="ge.tbc.itacademy.models.BookingCase">
        SELECT * FROM booking_cases
    </select>

</mapper>